h1 {
    color: teal;
}

.ride-1 {
    color: red !important;
}

#ride-2 {
    color: darkgoldenrod;
}

.kotak-biru {
    width: 50px;
    height: 50px;
    background-color: lightblue;
}

.hero {
    /* border-width: 5px;
    border-style: double;
    border-color: black; */
    border: 10px solid black;
    border-radius: 10%;
}

#kotak-merah {
    margin-top: 10px;
    width: 50px;
    height: 50px;
    background-color: #281C59;
}

.rgb-ex {
    margin-top: 20px;
    width: 50px;
    height: 50px;
    background-color: rgba(100, 50, 200, 0.5);
}