.fixed {
    width: 80px;
    height: 80px;
    background-color: coral;
    position: fixed;
    left: 10px;
    top: 45vh;
}

.span2 {
    background-color: lightblue;
    width: 100px;
    display: inline-block;
}

.relative {
    position: relative;
    background-color: yellowgreen;
    top: 50px;
    left: 50px;
    width: 70vw;
    height: 50vh;
}

.normal {
    background-color: salmon;
    width: 200px;
    height: 200px;
    border: 10px ridge black;
}